name: book_my_kuli
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.4.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_spinkit: ^5.2.1
  cupertino_icons: ^1.0.6
  firebase_auth: ^5.3.0
  image_picker: ^1.1.2
  image_picker_web: ^4.0.0
  form_builder_image_picker: ^4.1.0
  cloud_firestore: ^5.4.2
  firebase_core: ^3.5.0
  firebase_storage: ^12.3.1
  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/kuli.jpeg

  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto-Bold.ttf
          weight: 700
